<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :category_id , class: "col-2 col-form-label"%>
    <div class="col-10"><%= form.collection_select :category_id, Category.all, :id, :name, {prompt: "Select a category"}, {class: "form-control"} %></div>
  </div>

  <div class="form-group row">
    <%= form.label :title , class: "col-2 col-form-label"%>
    <div class="col-10"><%= form.text_field :title, id: :course_title ,class: "form-control"%></div>
  </div>

  <div class="form-group row">
    <%= form.label :objective , class: "col-2 col-form-label"%>
    <div class="col-10"><%= form.text_area :objective, id: :course_objective ,class: "form-control"%></div>
  </div>

  <div class="form-group row">
    <%= form.label :description , class: "col-2 col-form-label"%>
    <div class="col-10"><%= form.text_area :description, id: :course_description ,class: "form-control"%></div>
  </div>

  <div class="form-group row">
    <%= form.label :instructor , class: "col-2 col-form-label"%>
    <div class="col-10"><%= form.text_field :instructor, id: :course_instructor ,class: "form-control"%></div>
  </div>

  <div class="btn-group" role="group" aria-label="Basic example">
    <%= form.submit class: "btn btn-outline-success"%>
    <%= link_to 'Back', courses_path ,class: "btn btn-info"%>
  </div>

<% end %>
